<h4 class="pagination-left">Enter Your Email</h4>
<form class="form-inline" action="<%= setmail_path%>" method="post">
  <input type="email" name="email" placeholder="Email">
  <button type="submit" class="btn">Submit</button>
</form>