<h1>Welcome To Hangman Game</h1>

<% unless user_signed_in? -%>
    <div class="clearfix">
    <div class="userAction span4 offset3">
      <p><%= link_to 'Sign up', new_user_registration_path, class:"btn-large btn-success" %></p>
      <p><%= link_to 'Sign in', new_user_session_path, class:"btn-large btn" %></p>
      <p><%= link_to 'Login with Facebook', '/auth/facebook/', class:"btn-large btn-primary" %></p>
    </div>
    </div>
<% end -%>

<% if user_signed_in? -%>
    <h1>User DashBoard Come Here</h1>
<% end -%>