// Place all the styles related to the home controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
#homeHeading{
  padding-bottom: 50px;
}
.btn-block{
  width: 70%;
  margin-top: 60px;
}

.hangman-word{
  //text-align: center;
  font-size: 1.3em;
  font-weight: bold;
  font-family: Verdana, sans-serif;
  letter-spacing: 0.5em;
}

#game{
  font-size: 16px;
}
.guessWord{
  color: #4487DA;
}
#gameStatus h3{
  color: #4487DA;
  font-size: 1.5em;
  font-weight: bold;
  font-family: Verdana, sans-serif;
}
#gameStatus h2{
  color: green;
  font-size: 1.5em;
  font-weight: bold;
  font-family: Verdana, sans-serif;
}
#gameStatus h2.loss{
  color:#ff0000;
}
.button.characvter{
  margin-bottom: 5px;
}