// Place all the styles related to the home controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pageWrapper{
  min-height: 100%;
  height: auto !important;
 height: 100%;
  margin: 0 auto -44px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fefcea+24,fefcea+24,f1da36+41,fefcea+65 */
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fefcea+24,fefcea+24,fefcea+65,f1da36+95,f1da36+95 */
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f1da36+8,f1da36+8,f1da36+16,fefcea+23,fefcea+59,fefcea+59,fefcea+65,f1da36+95 */
  background: #f1da36; /* Old browsers */
  background: -moz-linear-gradient(45deg, #f1da36 8%, #f1da36 8%, #f1da36 16%, #fefcea 23%, #fefcea 59%, #fefcea 59%, #fefcea 65%, #f1da36 95%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #f1da36 8%,#f1da36 8%,#f1da36 16%,#fefcea 23%,#fefcea 59%,#fefcea 59%,#fefcea 65%,#f1da36 95%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #f1da36 8%,#f1da36 8%,#f1da36 16%,#fefcea 23%,#fefcea 59%,#fefcea 59%,#fefcea 65%,#f1da36 95%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1da36', endColorstr='#f1da36',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  //background: coral;
  //background-image: url('../images/hangman1.jpg'); height: 720px; width: 1280px;

  .signInWrapper{
   text-align: center;
  }
  .controls{
    font-size: 25px;
    font-family: cursive;

    text-align: center;

    margin: 25px;
    .input{
      border-radius: 10px;
      border-style: ridge;
    }
  }


  header{
    padding: 20px 0px;
    background:#589a31;
    margin-bottom: 20px;
    .logoWrap{
      a.logo{
        display: block;
        text-decoration: none;
        color:#fff !important;
        font-size: 30px;
        font-weight: bold;
        font-family: cursive;
      }
    }
    .headerLinks{
      ul{
        float: right;
        list-style: none;
        li{
          float: left;
          color:#ffffff;
          margin-left: 10px;
          a{
            text-decoration: none;
            font-size: 14px;
            color: #fff;
            line-height: 18px;
            .caret{
              border-bottom-color: #FFFFFF;
              border-top-color: #FFFFFF;
            }
          }
          ul{
            margin-left: 0px;
            li{
              float: none;
              margin-left:0px;
              a{
                color:#000;
                &:hover{
                  color: #ffffff;
                }
              }

            }
          }
        }
      }
    }
  }
  .userAction{
    position: relative;
    li{
      ul{
        margin-left: 0px;
        li{
          float:left;
          margin-right: 10px;
        }
      }
      a{
        display: block;
        text-decoration: none;
        margin-bottom: 10px;
        color: #ffffff;
      }
      margin-bottom: 20px;
    }
    .signUpBtn{
     // position: absolute;
      a{
        color: #ffffff;
        font-size: 24px;

      }
    }
  }
  h1{
    margin-bottom: 30px;
    text-align: center;
  }
  .alert{
    h2{
      font-size: 14px;
      line-height: 18px;
    }
  }
  .gender,.remember{
    label{
      display: inline;
      padding-right: 20px;
    }
    input[type="radio"],input[type="checkbox"]{
      margin-top: 0px;
    }
  }
  #push{
    height: 44px;
  }
  .helpLinks{
    margin-top: 15px;
 font-size: 18px;


  }
  .flash_notice {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
  }
  .flash_error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
  }
}

footer{
  height: 40px;
  padding: 10px 0px;
  background-color: #589a31;
  p{
    color:#fff;
  }
}
#homeHeading{
  padding-bottom: 50px;
}
.btn-block{
  width: 70%;
  margin-top: 60px;
}

.hangman-word{
  //text-align: center;
  font-size: 1.3em;
  font-weight: bold;
  font-family: cursive;
  letter-spacing: 0.5em;
}

#game{
  font-size: 16px;
}
.guessWord{
  color: #4487DA;
}
#gameStatus h3{
  color: #4487DA;
  font-size: 1.5em;
  font-weight: bold;
  font-family: cursive;
}
#gameStatus h2{
  color: green;
  font-size: 1.5em;
  font-weight: bold;
  font-family: cursive;
}
#gameStatus h2.loss{
  color:#ff0000;
}
.button.characvter{
  margin-bottom: 5px;
}
.my_class{
  height: 800px;
}
